<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
<<<<<<< HEAD
            <p><a href="{{ path('admin_categories_index') }}">Liste des catégories</a></p>
=======
            <p><a href="{{ path('app_categorie') }}">Liste des catégories</a></p>
>>>>>>> 0066c782 (fixtures)
            <p><a href="">Ajouter une catégorie</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
<<<<<<< HEAD
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_products_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_products_add') }}">Ajouter un produit</a></p>
=======
            Plats
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_plat_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_plat_add') }}">Ajouter un produit</a></p>
>>>>>>> 0066c782 (fixtures)
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
<<<<<<< HEAD
        <div class="card-body">
            <p><a href="{{ path('admin_users_index') }}">Liste des utilisateurs</a></p>
        </div>
=======
        {# <div class="card-body">
            <p><a href="{{ path('admin_utilisateur_index') }}">Liste des utilisateurs</a></p>
        </div> #}
>>>>>>> 0066c782 (fixtures)
    </article>
</aside>