{# <link
rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> #}
{# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">  
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  #}
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@25..48,100..700,0..1,-50..200"/>


<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"/>
{% block stylesheets %}

{# <link rel="stylesheet" href="{{ asset('css.style.css')}}"> #}


{% endblock %}
<header>
	
	{# <div class="settings"></div> #}
	{# <div class="scrollbar" id="style-1"> #}
	<section class="container-fluid d-lg-flex">
		

		<div class="row-cols-2 d-lg-flex">

			
			<div class="top-left d-flex">
								
					<div class="stylus_bfitem6 d-flex">
						<div class="stylus_bfitem_ico d-flex"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								viewBox="0 0 20 25" fill="none">
								<path
									d="M10.9944 23.3687L11.0274 23.5143C11.1106 23.8105 11.2867 24.0721 11.5299 24.2607C11.773 24.4492 
						12.0702 24.5547 12.3778 24.5615L17.434 24.5615C18.3342 24.5615 19.0664 23.8294 19.0664 22.9291L19.0664 
						2.21207C19.0664 1.31186 18.3342 0.581177 17.434 0.581177L12.3988 0.581176C11.7086 0.581176 11.1205 1.0733 
						10.9989 1.75146L10.9899 1.80247C10.8924 2.34261 10.4243 2.7342 9.87366 2.7342C9.33203 2.7342 8.86092 2.34411 
						8.74689 1.75146C8.68654 1.42738 8.5163 1.13401 8.26485 0.92083C8.0134 0.707648 7.69614 0.587688 7.36655 
						0.581176L2.31332 0.581176C1.4131 0.581176 0.680918 1.31335 0.680918 2.21207L0.680917 22.9306C0.680917 23.8309
						 1.4131 24.563 2.31332 24.563L7.34854 24.563C8.03871 24.563 8.62686 24.0694 8.75739 23.3402C8.80429 23.0785 8.94188 22.8417 9.14601 22.6713C9.35014 22.5009 9.60777 22.4079 9.87366 22.4085C10.144 22.4097 10.4051 22.507 10.6104 22.6828C10.8156 22.8587 10.9518 23.1018 10.9944 23.3687ZM7.29603 23.0762L2.31332 23.0762C2.27456 23.0754 2.23761 23.0597 2.2102 23.0323C2.18279 23.0048 2.16705 22.9679 2.16628 22.9291L2.16628 9.77992C2.20529 9.78442 2.2398 9.80243 2.28031 9.80243L5.50009 9.80243C5.72758 9.80203 5.94564 9.71149 6.1065 9.55063C6.26736 9.38977 6.35791 9.17171 6.3583 8.94422C6.35751 8.71699 6.26679 8.49932 6.10597 8.33878C5.94516 8.17824 5.72733 8.0879 5.5001 8.08751L2.28031 8.08751C2.2398 8.08751 2.20529 8.10551 2.16628 8.11001L2.16628 2.21357C2.16666 2.17456 2.18223 2.13722 2.20968 2.10949C2.23713 2.08176 2.27431 2.06582 2.31332 2.06504L7.29453 2.06504L7.30504 2.12055C7.42811 2.71193 7.75055 3.2431 8.21839 3.62519C8.68624 4.00728 9.27112 4.21711 9.87516 4.21956C11.137 4.21956 12.2157 3.32385 12.4528 2.06504L17.434 2.06504C17.4728 2.06581 17.5097 2.08154 17.5371 2.10895C17.5645 2.13636 17.5803 2.17332 17.581 2.21207L17.581 8.11002C17.542 8.10551 17.5075 8.08751 17.467 8.08751L14.2472 8.08751C13.7761 8.08751 13.3905 8.4731 13.3905 8.94422C13.3909 9.17145 13.4813 9.38928 13.6418 9.5501C13.8023 9.71092 14.02 9.80164 14.2472 9.80243L17.467 9.80243C17.5075 9.80243 17.542 9.78442 17.581 9.77992L17.581 22.9291C17.5807 22.9682 17.5651 23.0055 17.5376 23.0332C17.5102 23.0609 17.473 23.0769 17.434 23.0777L12.4678 23.0777L12.4393 23.0192C12.3158 22.4291 11.9937 21.8992 11.5269 21.5178C11.06 21.1363 10.4765 20.9265 9.87366 20.9231C8.62086 20.9231 7.54809 21.8039 7.29603 23.0777L7.29603 23.0762Z"
									fill="currentColor"></path>
							</svg>
						</div>
						<div>
							<div class="stylus_bfitem_t1">Grande vente 2025</div>
							<div class="stylus_bfitem_t2">Exclus !!!</div>
						</div>
					</div>
					
					<div class="stylus_bfitem_b"></div>
					<div class="stylus_bfitem ">
						<div class="stylus_bfitem_ico"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								viewBox="0 0 25 25" fill="none">
								<path
									d="M6.4202 0.577894C7.59164 0.577894 8.7631 0.581926 9.93462 0.576276C10.5941 0.573286 11.152 0.798079 11.6894 1.18521C12.2054 1.5571 12.6338 2.00934 13.0764 2.45081C16.5677 5.93492 20.0541 9.42389 23.5415 12.912C24.349 13.7196 24.5601 14.9232 24.0514 15.9304C23.9298 16.1713 23.7642 16.4027 23.5738 16.5939C21.1701 19.0096 18.76 21.419 16.3479 23.8262C15.3519 24.8203 13.7059 24.8268 12.7113 23.834C8.93935 20.0682 5.16692 16.3029 1.41037 12.522C0.952832 12.0616 0.544854 11.5324 0.401795 10.8647C0.362218 10.68 0.339755 10.4879 0.339426 10.2991C0.335421 7.8778 0.334982 5.4564 0.337506 3.03517C0.339124 1.66694 1.38613 0.59734 2.75454 0.58209C3.9762 0.568487 5.19824 0.579211 6.42004 0.579211C6.4202 0.578717 6.4202 0.578251 6.4202 0.577894ZM6.41551 2.20259H5.91121C4.88017 2.20259 3.84886 2.20021 2.81771 2.20383C2.30471 2.20561 1.95718 2.53967 1.95669 3.03476C1.95414 5.45577 1.95398 7.87681 1.95976 10.2977C1.96004 10.4321 1.99073 10.5864 2.06138 10.6967C2.22932 10.9585 2.40312 11.2261 2.62125 11.4448C6.34031 15.1751 10.0667 18.8981 13.7916 22.6228C14.2335 23.0648 14.8189 23.063 15.2631 22.6188C17.629 20.2532 19.9881 17.8808 22.3666 15.528C22.7743 15.1247 22.7743 14.4235 22.3684 14.0206C19.266 10.9413 16.1868 7.83844 13.0845 4.75899C12.304 3.98412 11.5966 3.13157 10.6927 2.48128C10.4517 2.3078 10.2244 2.19892 9.92939 2.20037C8.75817 2.20597 7.58684 2.20259 6.41551 2.20259Z"
									fill="currentColor"></path>
								<path
									d="M6.81998 10.3146C5.02751 10.3086 3.57012 8.84371 3.57816 7.0561C3.58617 5.2701 5.0418 3.82456 6.82892 3.82776C8.63434 3.83111 10.0746 5.28631 10.0663 7.09855C10.0581 8.87031 8.59424 10.3204 6.81998 10.3146ZM6.81949 8.68718C7.71545 8.68993 8.44674 7.96314 8.4477 7.0694C8.44863 6.18389 7.72236 5.4529 6.83795 5.44906C5.93924 5.44522 5.21007 6.16271 5.20127 7.05944C5.19257 7.94882 5.9238 8.68428 6.81949 8.68718Z"
									fill="currentColor"></path>
							</svg></div>
						<div>
							<div class="stylus_bfitem_t1">Retours sans frais</div>
							<div class="stylus_bfitem_t2">sous 15 jours</div>
						</div>
					</div>
					
					<div class="flip-countdown flip-countdown1 black-countdown flipcountdown-show d-flex  " data-time="3312">
						<div class="countdown-item">
							<div class="countdown-flip flip-down" data-ctime="hour1">
								<div data-t="0" class="countdown-num flip-front"></div>
								<div data-t="0" class="countdown-num flip-back"></div>
							</div>
							<div class="countdown-flip flip-down flip-go" data-ctime="hour2">
								<div data-t="0" class="countdown-num flip-front"></div>
								<div data-t="0" class="countdown-num flip-back"></div>
							</div>
						</div>
						<div class="countdown-colon">:</div>
						<div class="countdown-item">
							<div class="countdown-flip flip-down" data-ctime="min1">
								<div data-t="5" class="countdown-num flip-front"></div>
								<div data-t="5" class="countdown-num flip-back"></div>
							</div>
							<div class="countdown-flip flip-down" data-ctime="min2">
								<div data-t="2" class="countdown-num flip-front"></div>
								<div data-t="2" class="countdown-num flip-back"></div>
							</div>
						</div>
						<div class="countdown-colon">:</div>
						<div class="countdown-item">
							<div class="countdown-flip flip-down" data-ctime="s1">
								<div data-t="1" class="countdown-num flip-front"></div>
								<div data-t="1" class="countdown-num flip-back"></div>
							</div>
							<div class="countdown-flip flip-down flip-go" data-ctime="s2">
								<div data-t="0" class="countdown-num flip-front"></div>
								<div data-t="0" class="countdown-num flip-back"></div>
							</div>
						</div>
					</div>
					<div class="stylus_bfitem_b"></div>
					<div class="stylus_bfitem">
						<div class="stylus_bfitem_ico"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="25"
								viewBox="0 0 21 25" fill="none">
								<path
									d="M10.0323 0.669236C10.3947 0.543848 10.7887 0.543848 11.1511 0.669236L19.704 3.62856C20.0402 3.74488 20.3317 3.96308 20.538 4.25281C20.7444 4.54254 20.8552 4.88938 20.8552 5.24507V13.8425C20.8552 17.5357 17.6958 21.0475 11.3768 24.3781C11.1341 24.5059 10.8642 24.5735 10.5898 24.5752C10.3155 24.5768 10.0448 24.5124 9.80054 24.3875C3.48588 21.1604 0.328125 17.6452 0.328125 13.8417V5.24507C0.328134 4.88938 0.439022 4.54254 0.645358 4.25281C0.851694 3.96308 1.14322 3.74488 1.47935 3.62856L10.0323 0.669236ZM10.5917 2.28746L2.03872 5.24422V13.8425C2.03872 16.8523 4.77481 19.898 10.5789 22.8642C16.3957 19.7988 19.1447 16.7437 19.1447 13.8425V5.24422L10.5917 2.2866V2.28746ZM15.6097 8.61751L15.6653 8.67225C15.8183 8.82541 15.9043 9.03306 15.9043 9.24957C15.9043 9.46609 15.8183 9.67374 15.6653 9.8269L10.7713 14.7201C10.6181 14.8731 10.4105 14.959 10.194 14.959C9.97746 14.959 9.76981 14.8731 9.61665 14.7201L6.53758 11.641C6.38455 11.4878 6.29859 11.2802 6.29859 11.0637C6.29859 10.8471 6.38455 10.6395 6.53758 10.4863L6.59317 10.4316C6.74634 10.2786 6.95399 10.1926 7.1705 10.1926C7.38701 10.1926 7.59466 10.2786 7.74783 10.4316L10.194 12.8795L14.4551 8.61751C14.6082 8.46448 14.8159 8.37852 15.0324 8.37852C15.2489 8.37852 15.4566 8.46448 15.6097 8.61751Z"
									fill="currentColor"></path>
							</svg></div>
						<div>
							<div class="stylus_bfitem_t1">meilleur prix garanti</div>
							<div class="stylus_bfitem_t2">0,01 €/jour</div>
						</div>
					</div>
											<a class="custom-event-topad-btn  " data-ga-cate="Recharge" data-ga-type="Entrance"
							data-ga-label="5"
							href="/?m=vip&amp;a=payment&amp;opt=339&amp;code=5&amp;fromtype=1&amp;special_style=1"
							rel="nofollow">sauvegarder&nbsp;62%
						</a>
					
				
				
				
			</div>
		</div>
	</div>

	</section>

	<nav class="nav top-0">

<div class="container-fluid mx-auto my-auto w-100  m-0 p-0 "> 
			<div class="row-cols-2 offset-2">
			<section class="container-nav my-auto">
			<div class="logo ">
				<a href="{{ path('app_home') }}">
					<img class="logo mt-15 my-auto" src="image/logo2.png">
				</a>
			</div>	
			

			<span class="navTrigger ">
				<i></i>
				<i></i>
				<i></i>
			</span>


			<div id="mainListDiv" class="main_list">
				<ul class="navlinks ">


					<li>
						<a href="{{ path('app_home') }}">
							<i class="fa fa-home fa-lg"></i>
							<span class="nav-text">Home</span>
						</a>
					</li>

					<li>
						<a href="{{ path('app_products') }}">
							<span class="material-symbols-outlined d-flex" style="font-size: 40">
								
							</span>

							<i class='fas fa-guitar'></i>
							<span class="nav-text">Catégories</span>

							{# <style>
								.material-symbols-outlined {
							font-variation-settings: 'Strait' , sans-serif , 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40,
							
								}
							</style> #}
						</a>
					</li>

					<li>
						<a href="{{ path('app_login') }}">

							<i class="fa fa-user fa-lg"></i>
							<span class="nav-text">Login</span>
						</a>
					</li>


					<li>

						<i class="fa fa-envelope fa-lg"></i>
						<span class="nav-text">Contact</span>

					</li>


					<li>
						<a href="{{ path('app_register') }}">Inscription</a>
					</li>
				</ul>
			</div>

	<div class="nav-authentification p-0  mr-1">		
{# <div class="container w-20">
		
			<div class="col-sm-2 offset-sm-2"> #}
			
				<ul >
					<li>
					
						<div id="search">
							{# <form class="search" action="results.php" method="GET" accept-charset="utf-8"> #}
								<input
								type="text" name="input" class="input" placeholder="Search"/>
						

							<button type="reset" class="search " id="search-button">
	                         {# <div id="root"></div> #}
							</button>
						</div>
					</li>
					<li>
						<a href="{{ path('app_cart') }}">
							<i class="fa fa-shopping-cart fa-lg"></i>
							<span class="nav-text">Panier</span>
						</a>
					</li>


					<li>
						<a href="{{ path('app_profile') }}">
							<i class="fa fa-user fa-lg"></i>
							<span class="nav-text">Profile</span>
						</a>
					</li>
					<svg class="icon-help" viewBox="0 0 100 100">
						<path d="M75,0H25C11.19,0,0,11.193,0,25v50c0,13.802,11.19,25,25,25h50c13.811,0,25-11.198,25-25V25C100,11.193,88.811,0,75,0z
					 M57.203,85.067H41.504V72.542h15.699V85.067L57.203,85.067z M73.357,42.041c-0.84,2.066-1.873,3.834-3.102,5.298
					c-1.235,1.474-2.604,2.718-4.101,3.751c-1.498,1.035-2.922,2.066-4.249,3.101c-1.333,1.034-1.553,2.214-2.596,3.547
					c-1.025,1.335-0.977,3.004-0.977,5.006v3.924H41.668v-4.623c0-2.864,1.366-5.265,2.27-7.202c0.896-1.935,2.255-3.581,3.459-4.947
					c1.196-1.367,2.62-2.556,3.955-3.557c1.327-0.993,2.637-1.993,3.776-2.995c1.123-1.001,2.083-2.1,2.783-3.304
					c0.7-1.197,1.043-2.694,0.977-4.5c0-3.06-0.74-5.33-2.245-6.795c-1.498-1.465-3.582-2.206-6.25-2.206c-1.8,0-3.337,0.351-4.639,1.05
					c-1.303,0.7-2.369,1.635-3.199,2.808c-0.837,1.163-1.448,3.593-1.847,5.156c-0.407,1.57-0.602,6.115-0.602,6.115H25.399
					c0.073-8.333,0.684-7.963,1.855-10.965c1.164-2.995,2.8-6.132,4.899-8.33c2.099-2.197,4.63-4.179,7.601-5.417
					c2.962-1.228,6.283-1.977,9.945-1.977c4.736,0,8.683,0.581,11.856,1.876c3.167,1.302,5.713,2.889,7.65,4.817
					c1.929,1.937,3.312,4.004,4.149,6.234c0.831,2.237,1.245,4.313,1.245,6.242C74.601,37.354,74.187,39.975,73.357,42.041z"/>
					  </svg>
      			</ul>
			</div>
		{# </div>
	</div> #}
		</section>
		</div>
	</div>
</nav>

	<div class="slider-container home " >

		 <div id="slider" class="images " >
			<img src="image/caption(2).jpg" alt="Image 1" />
			<img src="image/caption(1).jpg" alt="Image 2" />
			<img src="image/caption(3).jpg" alt="Image 3" />
			<img src="image/caption(4).jpg" alt="Image 4" />
			<img src="image/caption(5).jpg" alt="Image 5" />
			<img src="image/caption(6).jpg" alt="Image 6" />
			<img src="image/caption(7).jpg" alt="Image 7" />
			<img src="image/caption(8).jpg" alt="Image 8" />
			
		 </div>
	</div>




</header>


{# <a class="nav-link" href="{{ path('app_plat_cat', {'libelle': 'valeur_du_libelle'}) }}">Plats</a> #}


{# <li class="nav-item">
	               <a class="nav-link" href="{{ path('app_plat_cat') }}">Plats par catégories</a> #}

{# <a class="nav-link" href="{{ path('get_plats_by_categorie', {'id':'id'}) }}">Catégories</a> #}


{# <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
              
                    <a class="nav-link" href="{{ path('app_profile') }}">Profile</a> #}


	{% block javascripts %}
{# <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>   #}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ asset('js/flux.js') }}" type="text/javascript"></script>
	<script>
		$(function () {
			if (!flux.browser.supportsTransitions) {
				alert("Flux Slider requires a browser that supports CSS3 transitions");
			}
	
			window.f = new flux.slider('#slider', { pagination: false });
		});
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$('.navTrigger').click(function () {
			$(this).toggleClass('active');
			console.log("Clicked menu");
			$("#mainListDiv").toggleClass("show_list");
			$("#mainListDiv").fadeIn();
		  
		  });
	</script>
	<script>
		$(window).scroll(function () {
			if ($(document).scrollTop() > 50) {
				$('.nav').addClass('affix');
				console.log("OK");
			} else {
				$('.nav').removeClass('affix');
			}
		});
	</script>
	{# <script src="js/accordions.js"></script>  #}
	{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
	{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script> #}

	{% endblock %}

	{# <script src="js/toggle.js"></script> #}
	
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}





	{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> #}


{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}