{% extends 'base.html.twig' %}

{% block title %}Récapitulatif -
	{{ app.user.firstName }}
{% endblock %}

{% block body %}
	<main class="container mx-auto p-8 bg-gray-50 shadow-xl rounded-2xl mt-16">
		<h1 class="text-4xl font-extrabold text-gray-800 mb-8 text-center">
			Voici le récapitulatif de votre commande avant confirmation
			<span class="text-blue-500">{{ app.user.firstName }}
				{{ app.user.lastName }}</span>
		</h1>

		<div class="flex justify-center items-center">
			<div class="bg-white shadow-md rounded-lg p-10 w-full max-w-lg">
				<h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Récapitulatif</h2>

				<div
					class="space-y-8">
					<!-- Mode de paiement -->
					<div>
						<h3 class="text-lg font-medium text-gray-700">Votre mode de paiement :</h3>
						<p class="text-gray-600 mt-1 bg-gray-100 p-3 rounded-md">{{ app.session.get('paiement') }}</p>
					</div>

					<!-- Adresses -->
					<div>
						<h3 class="text-lg font-medium text-gray-700">Adresses :</h3>
						<ul class="space-y-4">
							{% for address in recap.addresses %}
								<li class="bg-gray-100 p-4 rounded-md">
									<h4 class="font-semibold text-gray-800">
										Adresse de
										{{ address.type == 'Livraison' ? 'Livraison' : 'Facturation' }}
									</h4>
									<p class="text-gray-600">
										<strong>Adresse :</strong>
										{{ address.address }}</p>
									<p class="text-gray-600">
										<strong>Ville :</strong>
										{{ address.city }}</p>
									<p class="text-gray-600">
										<strong>Code Postal :</strong>
										{{ address.cp }}</p>
								</li>
							{% endfor %}
						</ul>
					</div>

					<h3>Produits dans votre panier</h3>
					<table class="table">
						<thead>
							<tr>
								<th>Produit</th>
								<th>Quantité</th>
								<th>Prix</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for item in recap.products %}
								<tr>
									<td>{{ item.product.label }}</td>
									<td>{{ item.quantity }}</td>
									<td>{{ item.product.price|number_format(2, ',', ' ') }}
										€</td>
									<td>{{ (item.product.price * item.quantity)|number_format(2, ',', ' ') }}
										€</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					{% if recap.products is not empty %}
						<div class="d-flex justify-content-end">
							<h4>Total :
								{% set total = 0 %}
								{% for item in recap.products %}
									{{ app.session.get('ttc')}}
								{% endfor %}

								€
							</h4>
						</div>
					{% endif %}

					<div class="mt-4">
						<a href="{{ path('cart_order') }}" class="btn btn-primary">Passer à la caisse</a>
					</div>
				</div>
			</main>
		{% endblock %}
