{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            {% for rubric in rubrics %}
                <li class="breadcrumb-item"><a href="{{ path('app_products', {'slug': rubric.slug }) }}">{{rubric.label}}</a></li>
            {% endfor %}
        </ol>
    </nav>

    <main class="container">
        {% for rubric in rubrics %}
            <div class="row">
                {% set subrubric_images = {
                    'saxo': '/image/subrubric(1).png',
                    'trompette': '/image/subrubric(2).png',
                    'guitare': '/image/subrubric(5).png',
                    'piano': '/image/subrubric(6).png',
                    'batterie': '/image/subrubric(3).png',
                    'tamtam': '/image/subrubric(4).png',
                    'synthetiseur': '/image/subrubric(7).png',
                    'amplificateur': '/image/subrubric(8).png',
                    } %}
                {% for subrubric in rubric.rubrics %}
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-2">
                        <div class="rubric text-center">
                            <div class="card">
                                <img src="{{ subrubric_images[subrubric.slug] }}" class="card-img-top" alt="{{ subrubric.label }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ subrubric.slug }}</h5>
                                </div>
                            </div>
                            <div class="text-center rubric-texte">
                                {{ subrubric.label }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="prod-content">
                <h2>{{ rubric.label }}</h2>
                <div class="rub-content">{{ rubric.description }}</div>
            </div>
        {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(products) }}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#"></a></li>
                  <li class="page-item"><a class="page-link" href="#"></a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>

        

        <div class="container">
            <section>
                <h2 class="text-center my-5">Derniers arrivages!</h2>
                <div class="grid">
                    {% for product in products %}
                        <article class="card">
                            {% for image in product.images %} 
							<img src="{{ image.image }}" alt="Image de {{ product.id }}" width="200">
						{% else %}
								<p>Aucune image disponible.</p>
							{% endfor %}
                            <div class="card-body">
                                <span class="badge badge-primary">{{ product.label }}</span>
                                <h3>{{ product.label }}</h3>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </section>

            <section>
                <h2>Stocks</h2>
                {% for order in orders %}
                    <h3>{{ order[0].label }} {{ order.total }}</h3>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
